body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  margin: 0;
}

.links {
  display: flex;
  gap: 400px;
  a {
    font-size: 40px;
  }
}

.borde-img-container {
  text-align: center;
  width: 800px;
  img {
    max-width: 100%;
    border: none;
  }
  &.bordered {
    img {
      border: 2px solid red;
    }
  }
}

.stickers-row {
  display: flex;
  justify-content: center;
  align-items: center;
  .stickers-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    img {
      max-width: 100%;
    }
    input {
      max-width: 50%;
    }
  }
}

.select-row {
  display: flex;
  justify-content: center;
  align-items: center;
  select{
    margin: 10px;
  }
}
